[Unit]
Description=Servicio de respaldo automático de Dotfiles
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=oneshot
# Ruta completa a tu script
ExecStart=/usr/bin/bash %h/dotfiles/auto-save.sh

[Install]
#WantedBy=default.target
